<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="margin-top: 50%; " class="ion-text-center">
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        
        
        <ion-input label="Ingrese su nueva contraseña" labelPlacement="floating" [counter]="true" maxlength="100" type="password" [(ngModel)] = "contra1"></ion-input>
        <ion-input label="Confirme su contraseña" labelPlacement="floating" [counter]="true" maxlength="100" type="password" [(ngModel)] = "contra2"></ion-input>
        <ion-button shape="round" class="ion-margin-top" fill="outline" (click) = "irHome()">Confirmar</ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
