<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot = "start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  
  

  <ion-grid style="margin-top: 50%; " class="ion-text-center">
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <div style="margin-bottom: 50px;">
          <ion-label >Ingrese su correo para recuperar su contraseña</ion-label>
        </div>
      <ion-item >
        <ion-input label="Ingrese su correo" labelPlacement="floating" [(ngModel)] = "input" ></ion-input>
      </ion-item>
        <ion-button fill = "outline" id = "boton" class="ion-margin-top" shape="round" (click) = "irRecuPregunta()">Confirmar</ion-button>
      
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>




</ion-content>
