<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <ion-grid>
    
    <ion-row class="ion-justify-content-center">
      <ion-col size="3">
        <ion-avatar>
          <img alt="persona" src="{{imagen}}"/>
        </ion-avatar>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      
      <ion-col size="10" > 
      
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{nombre}} {{apellido}}</ion-card-title>
          
        </ion-card-header>
      
        <ion-card-content>
          <ion-card-subtitle>Rut: {{rut}}</ion-card-subtitle>
          <ion-card-subtitle>Correo: {{correo}}</ion-card-subtitle>
          <ion-card-subtitle>Dirección: {{direccion}}</ion-card-subtitle>
          <div class="ion-text-center">
          <ion-button fill="clear" (click)="irModificarPerfil()">Modificar datos</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
      
    </ion-col>
      

    </ion-row>
    <ion-row class="ion-text-center ion-justify-content-center">
      <ion-col size="12"> 
        <ion-button fill="outline" id="boton" style="width: 195px;" shape="round" (click) = "irIngresarContra()">Cambiar contraseña</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button id="agregarV" fill="outline" style="width: 125px;" shape="round" (click) ="irAnadirAuto()">Vender Auto</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
</ion-content>
