<ion-content class="ion-padding">
  <div class="not-found-container">
    <ion-icon name="alert-circle-outline" class="not-found-icon" color="gris"></ion-icon>
    <p class="not-found-message">Lo sentimos, la página que estás buscando no pudo ser encontrada.</p>
    <img alt="persona" src="https://static.coopeuch.cl/media/wysiwyg/ILUST-404_3.png" />
    <p></p>
    <ion-button expand="block" fill="outline" routerLink="/pagina-principal">Volver a la página de inicio</ion-button>
  </div>
</ion-content>