<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="margin-top: 25%;">
    <ion-row class="ion-justify-content-center">
      
      <ion-col size="10">

        <p class="ion-margin-bottom" style="margin-bottom: 50px;">Ingresa tu contraseña para poder modificarla</p>
        
        <ion-input label="Ingrese su contraseña actual" labelPlacement="floating" type="password" [(ngModel)] = "contra" class=></ion-input>
        <div class="ion-text-center">
        <ion-button fill="outline" id="boton" class="ion-margin-top" shape="round" (click) = "irCambiarContra()">Confirmar</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
