<ion-header [translucent]="true">
  <ion-toolbar>
    <app-top-bar></app-top-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Peticiones de Usuarios</ion-label>
    </ion-list-header>
    
    <ion-item *ngFor="let x of arregloAutos"  class="request-item">
      <ion-label>{{x.modelo}}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="irPaginaProducto1(x)" color="warning">Ver</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ion-list-header>
      <ion-label>Reportes de Usuarios</ion-label>
    </ion-list-header>
    
    <ion-item *ngFor="let x of arregloAutos" class="report-item">
      <ion-label>{{x.modelo}}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="irPaginaProducto(x)" color="warning">Ver</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
