<ion-header [translucent]="true" style="height: 50px;">
  <ion-toolbar>
    <app-top-bar></app-top-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-row class="ion-justify-content-center">
          <div>
            <img [src]="foto" alt="No image" style="width: 300px; height: 300px;"/>
          </div>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-button type="file" style="font-size: 13px; width: 150px;" fill="outline"
            shape="round" (click)="tomarfoto()">Agregar Imagen</ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content style="font-size: 15px;">
            <ion-item>
              <ion-input label="Ingrese el modelo del Vehiculo" labelPlacement="floating"
                [clearInput]="true" [(ngModel)]="modelo">
              </ion-input>
            </ion-item>
            <ion-label color="danger" style="font-size: 11px;">{{labelModelo}}</ion-label>

            <ion-item>
              <ion-input label="Ingrese el precio" labelPlacement="floating"  [(ngModel)]="precio"
                [clearInput]="true"></ion-input>
            </ion-item>
            <ion-label color="danger" style="font-size: 11px;">{{labelPrecio}}</ion-label>

            <ion-item style="margin-top: 10px;">
              <ion-select [(ngModel)]="color" interface="popover" placeholder="Seleccionar color">
                <ion-select-option value="{{i}}" *ngFor="let i of arrColor">{{i}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-label color="danger" style="font-size: 11px;">{{labelColor}}</ion-label>

            <ion-item style="margin-top: 10px;">
              <ion-select [(ngModel)]="marca" interface="popover" placeholder="Seleccionar marca">
                <ion-select-option value="{{x}}" *ngFor="let x of arrMarca">{{x}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-label color="danger" style="font-size: 11px;">{{labelMarca}}</ion-label>

            <ion-item style="margin-top: 10px;">
              <ion-select [(ngModel)]="transmision" interface="popover" placeholder="Seleccionar transmision">
                <ion-select-option value="{{a}}" *ngFor="let a of arrTrans">{{a}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-label color="danger" style="font-size: 11px;">{{labelTrans}}</ion-label>
          
            <ion-item>
              <ion-input label="Ingrese los años de uso" labelPlacement="floating" [(ngModel)]="anos"
                [clearInput]="true"></ion-input>
            </ion-item>
            <ion-label color="danger" style="font-size: 11px;">{{labelAnos}}</ion-label>

            <ion-item>
              <ion-input label="Ingrese el kilometraje del vehiculo" labelPlacement="floating"
                [(ngModel)]="kilometraje" [clearInput]="true"></ion-input>
            </ion-item>
            <ion-label color="danger" style="font-size: 11px;">{{labelKilometraje}}</ion-label>

            <ion-textarea label="Descripción" labelPlacement="floating" [counter]="true" maxlength="500"
              helperText="Agregue una descripción" [autoGrow]="true" [Grow]="1"
              errorText="Porfavor escriba una descripción minima de 10 caracteres"
              [(ngModel)]="descrp"></ion-textarea>
            <ion-label color="danger" style="font-size: 11px;">{{labelDescrp}}</ion-label>

          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button (click)="irPaginaPublicaciones()" style="font-size: 12px; width: 168px;" fill="outline"
        shape="round">Modificar Publicacion</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>