<ion-header [translucent]="true" style="height: 50px;">
  <ion-toolbar>
    <app-top-bar></app-top-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-img 
          [src]="foto"
          alt="No image"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-start">
        <ion-card color="light">
          <ion-card-content>
            <ion-row>
              <h1>{{marca | uppercase}} {{modelo | uppercase}} </h1>
            </ion-row>
            <ion-row>
              <h2>{{precio | currency : 'CLP' : '$'}}  </h2>
            </ion-row>
            <div>
              <ion-row>VENDEDOR: {{nombre| uppercase}} </ion-row>
              <ion-row>{{direccion | uppercase}} </ion-row>
              <ion-row>CONTACTO : +569{{telefono}}</ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" class="ion-text-start">
        <ion-card color="light">
          <ion-card-content>
            <ion-row>
              <h2>Caracteristicas</h2>
            </ion-row>

            <div>
              <ion-row>COLOR: {{color | uppercase }}</ion-row>
              <ion-row>MARCA: {{marca | uppercase }}</ion-row>
              <ion-row>TRANSMISIÓN: {{transmision | uppercase }}</ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" class="ion-text-start">
        <ion-card color="light">
          <ion-card-content>
            <div style="font-size: 13px;">
              <ion-row>
                <h2>Descripción</h2>
              </ion-row>
              <ion-row>{{descripcion | uppercase }}</ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">

      <ion-col *ngIf="rol == '2'" size="4">
        <ion-button color="danger" style="font-size: 12px; width: 105px;" fill="outline"
          shape="round" (click)="reportarAuto()">Reportar</ion-button>
      </ion-col>

      <ion-row *ngIf="rol == '1' && verificador == 'reporte'">
        <ion-col size="12" class="ion-text-start">
          <ion-card color="light">
            <ion-card-content>
              <div style="font-size: 13px;">
                <ion-row>
                  <h2>Reportes</h2>
                </ion-row>
                <ion-row *ngFor="let report of reportes">
                  <ion-col>
                    <p>Tipo: {{ report.tipo }}</p>
                    <p>Descripción: {{ report.descripcion }}</p>
                  </ion-col>
                  <ion-col>
                    <ion-button color="danger" fill="outline" shape="round" (click)="presentDeleteReportConfirmation(report.idreporte)">
                      Eliminar
                    </ion-button>
                  </ion-col>
                </ion-row>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="rol == '1' && verificador == 'reporte'">
        <ion-col size="12" class="ion-text-start">
          <ion-card color="light">
            <ion-card-content>
              <ion-row>
                <ion-col size="4">
                  <ion-button color="danger" fill="outline" shape="round" (click)="presentDeleteConfirmation()">
                    Eliminar Producto
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="rol == '1' && verificador == 'solicitud'">
        <ion-col size="12" class="ion-text-start">
          <ion-card color="light">
            <ion-card-content>
              <div style="font-size: 13px;">
                <ion-row class="ion-justify-content-center">
                    <h2>Solicitud</h2>
                </ion-row>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="rol == '1' && verificador == 'solicitud'">
        <ion-col size="12" class="ion-text-start">
          <ion-card color="light">
            <ion-card-content>
              <ion-row>
                <ion-col size="4">
                  <ion-button color="danger" fill="outline" shape="round" (click)="presentAcceptRejectConfirmation('rechazar')">
                    Rechazar
                  </ion-button>
                </ion-col>
                <ion-col size="2"></ion-col>
                <ion-col size="4">
                  <ion-button color="success" fill="outline" shape="round" (click)="presentAcceptRejectConfirmation('aceptar')">
                    Aceptar
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>