<ion-header [translucent]="true" style="height: 50px;">
  <ion-toolbar>
    <app-top-bar></app-top-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <swiper-container>
          <swiper-slide>
            <ion-img
              src="https://acroadtrip.blob.core.windows.net/catalogo-imagenes/m/RT_V_6b8d809e846542f9a8b4ecf1114fdd33.jpg"
              alt="No image"></ion-img>
          </swiper-slide>
          <swiper-slide>
            <ion-img
              src="https://acroadtrip.blob.core.windows.net/catalogo-imagenes/m/RT_V_6b8d809e846542f9a8b4ecf1114fdd33.jpg"
              alt="No image"></ion-img>
          </swiper-slide>
          <swiper-slide>
            <ion-img
              src="https://acroadtrip.blob.core.windows.net/catalogo-imagenes/m/RT_V_6b8d809e846542f9a8b4ecf1114fdd33.jpg"
              alt="No image"></ion-img>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-start">
        <ion-card color="light">
          <ion-card-content>
            <ion-row>
              <h1>{{marca | uppercase}} {{modelo | uppercase}} </h1>
            </ion-row>
            <ion-row>
              <h2>${{precio | currency : 'CLP' : '$'}}  </h2>
            </ion-row>
            <div>
              <ion-row>Vendedor: {{idusuario.nombre | uppercase}} </ion-row>
              <ion-row>{{idusuario.direccion | uppercase}} </ion-row>
              <ion-row>Numero de contacto : +569{{idusuario.telefono}}</ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" class="ion-text-start">
        <ion-card color="light">
          <ion-card-content>
            <ion-row>
              <h2>Caracteristicas</h2>
            </ion-row>

            <div>
              <ion-row>Color: {{color | uppercase }}</ion-row>
              <ion-row>Marca: {{marca | uppercase }}</ion-row>
              <ion-row>Transmisión: {{transmision | uppercase }}</ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" class="ion-text-start">
        <ion-card color="light">
          <ion-card-content>
            <div style="font-size: 13px;">
              <ion-row>
                <h2>Descripción</h2>
              </ion-row>
              <ion-row>{{descripcion | uppercase }}</ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">

      <ion-col size="4">
        <ion-button color="danger" style="font-size: 12px; width: 105px;" fill="outline" id="modal-trigger"
          shape="round">Reportar</ion-button>
      </ion-col>

      <ion-row *ngIf="rol == '2' && verificador != 'solicitud'">
        <ion-col size="12" class="ion-text-start">
          <ion-card color="light">
            <ion-card-content>
              <div style="font-size: 13px;">
                <ion-row>
                  <h2>Reportes</h2>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-label>La publicación es Spam Alfa Romeo Giulia</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-button color="danger" fill="outline" shape="round"
                      >Eliminar Reporte</ion-button>
                  </ion-col>
                </ion-row>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="rol == '2' && verificador != 'solicitud'">
        <ion-col size="12" class="ion-text-start">
          <ion-card color="light">
            <ion-card-content>
              <ion-row>
                <ion-col size="4">
                  <ion-button color="danger" fill="outline" shape="round"
                    >Eliminar Producto</ion-button>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="rol == '2' && verificador == 'solicitud'">
        <ion-col size="12" class="ion-text-start">
          <ion-card color="light">
            <ion-card-content>
              <div style="font-size: 13px;">
                <ion-row class="ion-justify-content-center">
                    <h2>Solicitud</h2>
                </ion-row>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="rol == '2' && verificador == 'solicitud'">
        <ion-col size="12" class="ion-text-start">
          <ion-card color="light">
            <ion-card-content>
              <ion-row>
                <ion-col size="4">
                  <ion-button color="success" fill="outline" shape="round"
                    >Aceptar</ion-button>
                </ion-col>
                <ion-col size="2"></ion-col>
                <ion-col size="4">
                  <ion-button color="danger" fill="outline" shape="round"
                    >Rechazar</ion-button>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>