<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil-Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3">
        <ion-avatar>
          <img alt="persona" src="{{imagen}}"/>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" > 
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{nombre}} {{apellido}}</ion-card-title> 
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>Rut: {{rut}}</ion-card-subtitle>
            <ion-card-subtitle>Correo: {{correo}}</ion-card-subtitle>
            <ion-card-subtitle>Dirección: {{direccion}}</ion-card-subtitle>
            <div class="ion-text-center">
              <ion-button fill="clear" (click)="irPanelAdmin()">Panel Admin</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
